= image_pack_tag 'logo.png', width: '100'
= image_pack_tag 'green-check.png'
= image_pack_tag 'missing/thumb/default.png'

.articles
  %h1= 'Articles'
  = link_to 'Dont care', '#', class: 'open-dialog'
  %br
  = link_to 'Dont care - 2', '#', class: 'open-dialog-2'

.container.pt-5
  %h1 Bootstrap
  %p This is some text.

#demo.collapse
  %h5.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit
%button.btn.btn-primary(data-bs-target="#demo" data-bs-toggle="collapse" type="button")
  Simple collapse

%button.btn.btn-primary.coffee Try coffeescript

%p.demo Alert result will be here
